.git/
.gitignore
.github/

Dockerfile
.dockerignore

.venv/
__pycache__/
*.pyc
.ruff_cache/

.env
.env.example

tests/
scripts/

README.md
assets/
LICENSE

crowdin.yml
.pre-commit-config.yml
pyrightconfig.json
ruff.toml
renovate.json
